<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Your App</title>
  <style>
    html {
      background-color: transparent;
    }

  </style>
</head>

<body style="background: #ffffff00;">
  <div id="root"></div>
</body>

</html>
